header {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  background: url("../images/pattern-bg.png") center / cover no-repeat;

  h1 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
  }
}

main {
  width: 100%;

  @media screen and (min-width: $break-medium) {
  }
}
